@model T_FORCE.Tasks.Models.Task;
@using T_FORCE.EntityFramework;
@using T_FORCE.Tasks.Models;

<!-- Comments section -->
<!--Created comments-->
@{
    UserRepository userRepository = new UserRepository();
    foreach (Comment comment in Model.GetComments())
    {
        <div class="row">

            <div class="col-lg-6">

                <!-- Default Card Example -->
                <div class="card mb-4">
                    <div class="card-header">
                        @userRepository.GetUserById(comment.UserId).GetFirstNameLastName():
                    </div>
                    <div class="card-body">
                        @Html.Raw(comment.Content)
                        <i style="font-size:80%; color:darkslategrey; text-align:right;">@comment.LastModified</i>
                    </div>
                </div>

            </div>

        </div>
    }
}
<!--New comment card-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create new comment</h6>
    </div>
    <div class="card-body">
        <form method="post" action="@Url.Action("Comment","Tasks")">
            <input name="taskId" type="text" value="@Model.Id" hidden />
            <textarea id="summernote" name="comment"></textarea>
            <div class="my-2"></div>
            <input class="btn btn-primary" type="submit" value="Comment" />
            <input class="btn btn-danger" onclick="window.location.href='/'" type="button" value="Cancel" />
        </form>
    </div>
</div>